*{
    font-size: 16px;
    font-family: Arial;
    box-sizing: border-box;
}

h1{
    margin-top: 80px;
    font-size: 20px;
}

#button-1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

#titulo{
    margin: 0px;
    margin-bottom: 50px;
    font-size: 40px;
}
